@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

$font-family: 'Libre Franklin', sans-serif;

$Blue: hsl(223, 87%, 63%);
$Pale-Blue: hsl(223, 100%, 88%);
$Light-Red: hsl(354, 100%, 66%);
$Gray:hsl(0, 0%, 59%);
$Very-Dark-Blue: hsl(209, 33%, 12%);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    // border: 2px solid red;
    margin: 0 auto;
    text-align: center;
    font-family: $font-family;

    h1{
        margin-top: 2rem;
        color: $Gray;
        font-weight: 300;
        font-size: 3rem;
        
        span{
            color: $Very-Dark-Blue;
            font-weight: 700;
        }
    }
    p{
        margin-top: 1rem;
        font-size: 1.5rem;
        color: $Very-Dark-Blue;
        
    }

    .error{
        font-size: 1rem;
        // margin: 0.5rem -2rem;
        margin-left: -15rem;
        margin-top: 0.5rem;
        color: $Light-Red;
        // display: none;
        
    }

    // .error.show{
    //     display: block;
    // }
}
.logo{
    margin-top: 2.5rem;
   
}

form{
    margin-top: 2rem;
    input[type=email]{
        width: 30%;
        padding: 1rem;
        border-radius: 30px;
        border: 2px solid $Gray;
    }

    input[type=email].show{
        border:2px solid $Light-Red;
    }
    input[type=submit]{
        width: 12%;
        padding: 1rem;
        border-radius: 30px;
        border: none;
        background-color: $Blue;
        color: white;
        font-size:1.2rem;
        font-weight: 600;
        margin-left: 1rem;
        cursor: pointer;

        &:hover{
            background-color: $Pale-Blue;
            // background-color: red;
            box-shadow: 0px 0px 5px 5px $Blue;
        }
    }
}

.dashboard{
    // border: 2px solid red;
    margin-top: 5rem;
    img{
        width: 45%;
    }
}

footer{
    text-align: center;
    margin-top: 2rem;
    .social-media i{
        color: $Blue;
        padding: 0.5rem;
        cursor: pointer;
        transition: all 1s;
        
        &:hover{
            color: white;
            background-color: $Blue;
            border-radius: 30px;
            transform: scale(1.5);
            transform:translateY(-20px);
            
        }
    }
    p{
        margin: 1rem 0;
        color: $Gray;
    }
}

@media screen and (max-width:850px) {
    main{
        h1{
            font-size:2rem ;
        }
        p{
            font-size: 1rem;
        }
    }
    form{
        input[type=email]{
            width: 80%;
        }
        input[type=submit]{
            display: block;
            width: 80%;
            margin: 1rem auto;
        }
    }

    .dashboard{
        img{
            width: 80%;
            // border: 2px solid red;
        }
    }

    footer{
        .social-media i{
            padding: 0.8rem;
            font-size: 20px;
        }
    }
}

